@import url("https://fonts.googleapis.com/css?family=Lato|Overpass:400,600i");

@-webkit-keyframes text-shadow-drop-tl {
  0% {
    text-shadow: 0 0 #ff5964;
  }
  100% {
    text-shadow: -3px -3px #ff5964;
  }
}
@keyframes text-shadow-drop-tl {
  0% {
    text-shadow: 0 0 #ff5964;
  }
  100% {
    text-shadow: -3px -3px #ff5964;
  }
}
@-webkit-keyframes text-shadow-drop-br {
  0% {
    text-shadow: 0 0 #35a7ff;
  }
  100% {
    text-shadow: 3px 3px #35a7ff;
  }
}
@keyframes text-shadow-drop-br {
  0% {
    text-shadow: 0 0 #35a7ff;
  }
  100% {
    text-shadow: 3px 3px #35a7ff;
  }
}
.blueshadow {
  -webkit-animation: text-shadow-drop-tl 0.6s both;
  animation: text-shadow-drop-tl 0.6s both;
}
.redshadow {
  -webkit-animation: text-shadow-drop-br 0.6s both;
  animation: text-shadow-drop-br 0.6s both;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}
.headspace {
  margin: 0 0 250px 0;
  padding-left: 20px;
}
.portrait {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  float: right;
  width: 600px;
}
h1 {
  font-family: "Overpass", sans-serif;
  word-wrap: break-word;
  text-shadow: 2px 2px #35a7ff, -2px -2px #ff5964;
  margin: 0;
}
h1.name {
  position: absolute;
  top: 30px;
  left: 20px;
  font-style: italic;
  font-weight: 600;
  font-size: 100px;
  line-height: 75px;
}
h1.name-overlay {
  font-style: italic;
  font-weight: 600;
  font-size: 100px;
  line-height: 75px;
}
h1.section-title {
  font-style: italic;
  font-size: 70px;
  padding-left: 30px;
}
.mark {
  background-color: #f2ff00;
  mix-blend-mode: darken;
}
.projects {
  background-color: #f000d5;
}
.aboutme {
  background-color: #00fbe6;
}
.contact {
  background-color: #f2ff00;
}
.aboutme-text {
  background-color: #fff;
}
.footer .contact-logo {
  float: right;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  @-webkit-keyframes text-shadow-drop-tl {
    0% {
      text-shadow: 0 0 #ff5964;
    }
    100% {
      text-shadow: -2px -2px #ff5964;
    }
  }
  @keyframes text-shadow-drop-tl {
    0% {
      text-shadow: 0 0 #ff5964;
    }
    100% {
      text-shadow: -2px -2px #ff5964;
    }
  }
  @-webkit-keyframes text-shadow-drop-br {
    0% {
      text-shadow: 0 0 #35a7ff;
    }
    100% {
      text-shadow: 2px 2px #35a7ff;
    }
  }
  @keyframes text-shadow-drop-br {
    0% {
      text-shadow: 0 0 #35a7ff;
    }
    100% {
      text-shadow: 2px 2px #35a7ff;
    }
  }
  .headspace {
    margin: 0 0 167px 0;
  }
  h1 {
    text-shadow: 2px 2px #35a7ff, -2px -2px #ff5964;
  }
  h1.name, h1.name-overlay {
    font-size: 66px;
    line-height: 50px;
  }
  h1.section-title {
    font-size: 47px;
    padding-left: 20px;
  }
  .portrait {
    width: 450px;
  }
}

@media screen and (max-width: 479px) {
  .headspace {
    margin: 0 0 125px 0;
  }
  h1 {
    text-shadow: 2px 2px #35a7ff, -2px -2px #ff5964;
  }
  h1.name, h1.name-overlay {
    font-size: 50px;
    line-height: 37.5px;
  }
  .portrait {
    width: 300px;
    float: none;
  }
  .portrait-wrapper {
    text-align: center;
  }
}
