@import url("https://fonts.googleapis.com/css?family=Lato|Overpass:400,600i");

body {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}
.headspace {
  background: #fff;
  margin: 0;
  padding-left: 20px;
}
.portrait {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  float: right;
  width: 600px;
}
h1 {
  font-family: "Overpass", sans-serif;
  text-shadow: 3px 3px #35a7ff, -3px -3px #ff5964;
  /* word-wrap: break-word; */
}
h1.name {
  font-style: italic;
  font-weight: 600;
  font-size: 100px;
  line-height: 75px;
}
h1.section-title {
  font-style: italic;
  font-size: 70px;
  padding-left: 30px;
}
.mark {
  background-color: #f2ff00;
  mix-blend-mode: darken;
}
.projects {
  background-color: #f000d5;
}
.aboutme {
  background-color: #00fbe6;
}
.contact {
  background-color: #f2ff00;
}
.aboutme-text {
  background-color: #fff;
}
.footer .contact-logo {
  float: right;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  h1 {
    text-shadow: 2px 2px #35a7ff, -2px -2px #ff5964;
  }
  h1.name {
    font-size: 66px;
    line-height: 50px;
  }
  .portrait {
    width: 450px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    text-shadow: 2px 2px #35a7ff, -2px -2px #ff5964;
  }
  h1.name {
    font-size: 50px;
    line-height: 37.5px;
  }
  .portrait {
    width: 300px;
  }
}
